/* Général */

@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');


body{
  font-family: 'Sirin Stencil', cursive;
}

a{
  text-decoration: none;
  color: black;
}
.accueil{
   background: linear-gradient(149deg, rgba(168,47,164,1) 0%, rgba(168,47,164,1) 23%, rgba(57,46,126,1) 65%, rgba(32,46,117,1) 100%);
   /* position: fixed; */
   /* width: 100vw; */
}

/* Navbar */

.navbar-nav{
  height: 50px;
  margin-top: 50px;
}

.navbar-nav li a{
  text-decoration: none;
  font-style: normal;
  text-shadow: -2px 10px 8px #000000;
  color: white;
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
}


.nav-item a:hover{
  border-radius: 50px;
  background: #373036;
}

.cart span{
  background: none;
  width:50px;
  height:50px;
  border-radius: 20px;
  color: white;
  font-size: 30px;
  text-shadow: white 0 0 5px;
}

.basket{
  margin-top: 40px;
  width: 60px;
  height: 60px;
}

/* Barre de recherhe */

.search{
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Logo */


/* Général */
main h1{
  font-size:30px;
  font-weight: bold;
}

main h5{
  font-weight: bold;
}

.uni img{
  margin: 5px;
}

/* Fiche Produit */
.desc h1{
  font-size: 35px;
  font-family: none;
  font-weight: bold;
  font-style: oblique;
}

.desc p{
  font-size: 20px;
}

.fiche{
  margin-bottom: 20px;
  margin-top: 20px;
  float: right;
}

.prix{
  float:right;
}

.prod img{
  margin-left: 100px;
  margin-top: 20px;
}



/* Panier */
.products-container{
  max-width: 1000px;
  margin:0 auto;
  margin-top:50px;
}
.product-head{
  width:100%;
  max-width: 1000px;
  /* display: flex;
  justify-content: flex-start; */
  border-bottom: 2px solid grey;
  margin: 10px;
}

.product-title{
  width: 45%;
}
.prices{
  width: 15%;
  /* display: flex;
  align-items:center; */
}
.quantitys{
  width: 30%;
  /* display: flex;
  align-items:center; */
}
.totals{
  width: 10%;
  /* display: flex;
  align-items:center; */
}

.products{
  width: 100%;
  /* display: flex;
  flex-wrap: wrap; */
}

.products img{
  width:150px;
}

.product{
  width:45%;
}
.price{
  width:15%;
}
.quantity{
  width:30%;
}
.quantity button{
  text-decoration: none;
}

.total{
  width:10%;
}

.basketTotalContainer{
  width: 100%;
  padding:10px 0;
}

.basketTotalTittle{
  width:30%;
}

.basketTotal{
  width: 10%;
}

.products{
  font-size:20px;
}
.products button{
  border: none;
  background: transparent;
}



/* Story */

.loca{
  width: 648px;
  height: 454px;
}

.adres{
  font-size: 25px;
}

.story p{
  font-size: 16px;
}

/* Footer */
footer{
  font-family: none;
  color: white;
  background: #4f4f52;
}

footer a{
  text-decoration: none;
  color: white;
}

.fb{
  margin: 10px;
}

.ytb{
  margin:10px;
}

.mail{
  margin: 10px;
}
.insta{
  margin:10px;
}

.twit{
  margin:10px;
}

.phone{
  margin:10px;
}
